input[type=text], input[type=date],input[type=number], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/*input[type=submit] {*/
  /*background-color: #82D1F5;*/
  /*color: white;*/
  /*padding: 14px 20px;*/
  /*margin: 8px 0;*/
  /*border: none;*/
  /*border-radius: 4px;*/
  /*cursor: pointer;*/
  /*transition:0.3s;*/
/*}*/

/*input[type=submit]:hover {*/
  /*background-color: #40AEDF;*/
/*}*/

input[type=password] {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  left: 100px;
}

.row{
    margin-left:auto !important;
  margin-right:auto !important;
}

img{
  max-width:100%;
  height:auto;
}

.row.login-title{
  display:block;
  color:white;
  background-color:transparent;
  text-align:center;
  font-family:'Poppins';
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

a {
    color: white !important;
}

h1, h2, h3, h4, h5, h6, div, span {
    font-family: 'Lato';
}

.center-text {
    text-align: center;
}

footer {
  color: black;
  text-align:center;
}
.container{
  position: relative;
}
.top {
  position: absolute;
  top: 40px;
  right: 16px;
  width: 25%;
  text-align: center;
  background-color: black
}

body{
    /* La nueva sintaxis necesaria para navegadores apegados al estandar (IE 10 y Firefox 10 en adelante), sin prefijo */
    background: linear-gradient(to bottom, black, white);
}


.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav p {
  float: left;
  display: block;
  color: red;
  text-align: center;
  text-decoration: none;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 10%;
  height: 400px; /* only for demonstration, should be removed */
  background: #ccc;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/*article {*/
  /*float: left;*/
  /*padding: 20px;*/
  /*width: 90%;*/
  /*background-color: #f1f1f1;*/
  /*height: 400px; !* only for demonstration, should be removed *!*/
/*}*/

.col-md-6{
  display:none;
  text-align:center;
  background-color:transparent;
}

.col-md-12{
  display:none;
}

.row.container-fluid{
  margin-top:20px;
  background-color:transparent;
}

@media (min-width:981px){
  .signin .row.container-fluid {
    height:78vh;
  }

  .signup .row.container-fluid {
    height:100vh;
  }
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}
.a{

}


/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}

.signup-title{
  text-align:center;
  color:white;
}