<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Jerry</title>
</head>
<body>
<div class="topnav">
    <p>Jerry</p>
    <a href="{{ url_for('get_my_cards') }}">Mis tarjetas</a>
    <a href="{{ url_for('get_preferences') }}">Mis preferencias</a>
    <a href="#">Mis sugerencias</a>
    <a href="{{ url_for('user_information') }}">Mi usuario</a>
    <a href="{{ url_for('signout') }}">Cerrar sesión</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Número de cuenta</th>
                    <th scope="col">Número de tarjeta</th>
                    <th scope="col">CVV</th>
                    <th scope="col">Fecha de expiración</th>
                    <th scope="col">Tipo de cuenta</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Opciones</th>
                </tr>
                </thead>
                <tbody>
                {% for i in get_cards %}
                <tr>
                    <td>{{ i["account_number"] }}</td>
                    <td>{{ i["card_number"] }}</td>
                    <td>{{ i["cvv"]}}</td>
                    <td>{{ i["expiration_date"]}}</td>
                    <td>{{ i["account_type"]}}</td>
                    <td>{{ i["brand"]}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                                data-target="#cardsEditModal">Editar
                        </button>
                        <form action="http://127.0.0.1:5000/delete_my_cards/{{ i['id'] }}" method="POST">
                            <div style="text-align: center;">
                                <input type="submit" value="Submit">
                            </div>
                            <button type="submit" class="btn btn-danger btn-sm" data-id="{{ i['id'] }}">{{
                                i['id'] }} Eliminar
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class=" col-sm
                            ">
            <a href="{{ url_for('get_my_cards') }}" class="btn btn-primary btn-sm" role="button"
               aria-pressed="true" data-toggle="modal" data-target="#cardsModal">Añadir tarjeta</a>
        </div>


        <div class="modal fade" id="cardsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Añadir tarjeta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="http://127.0.0.1:5000/add_cards" method="POST">
                            <div style="text-align: center;">
                                <input name="account_number" type="text" placeholder="Número de cuenta"/>
                                <br/>
                                <input name="card_number" type="text" placeholder="Número de tarjeta"/>
                                <br/>
                                <input name="cvv" type="text" placeholder="CVV"/>
                                <br/>
                                <input name="expiration_date" type="text" placeholder="Fecha de expiración"/>
                                <br/>
                                <input name="account_type" type="text" placeholder="Tipo de cuenta"/>
                                <br/>
                                <input name="brand" type="text" placeholder="Marca"/>
                                <br/>
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="cardsEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Añadir tarjeta</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="http://127.0.0.1:5000/add_cards" method="POST">
                            <div style="text-align: center;">
                                <input name="account_number" type="text" placeholder="Número de cuenta"/>
                                <br/>
                                <input name="card_number" type="text" placeholder="Número de tarjeta"/>
                                <br/>
                                <input name="cvv" type="text" placeholder="CVV"/>
                                <br/>
                                <input name="expiration_date" type="text" placeholder="Fecha de expiración"/>
                                <br/>
                                <input name="account_type" type="text" placeholder="Tipo de cuenta"/>
                                <br/>
                                <input name="brand" type="text" placeholder="Marca"/>
                                <br/>
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    Desarrollado por: Apple Eaters, 2018
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>