<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Jerry</title>
</head>
<body>
<div class="topnav">
    <p>Jerry</p>
    <a href="{{ url_for('get_my_cards') }}">Mis tarjetas</a>
    <a href="{{ url_for('get_preferences') }}">Mis preferencias</a>
    <a href="#">Mis sugerencias</a>
    <a href="{{ url_for('user_information') }}">Mi usuario</a>
    <a href="{{ url_for('signout') }}">Cerrar sesión</a>
</div>

<div class="container">
    <div class="row align-items-start">
        <div class="col">
            <form action="http://127.0.0.1:5000/modify" method="POST">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Usuario</span>
                </div>
                <input name="username" type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" value="{{information['username']}}">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Nombre</span>
                </div>
                <input name="name" type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" value="{{information['name']}}">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Apellido</span>
                </div>
                <input name="last_name" type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" value="{{information['last_name']}}">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Teléfono</span>
                </div>
                <input name="telephone" type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" value="{{information['telephone']}}">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Dirección</span>
                </div>
                <input name="address" type="text" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" value="{{information['address']}}">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Fecha de nacimiento</span>
                </div>
                <input name="birthday" type="date" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" value="{{information['birthday']}}">
            </div>
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">Género</span>
                </div>
                Masculino<input name="gender" type="radio" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" value="M">
                Femenino<input name="gender" type="radio" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" value="F"/>
                Otros<input name="gender" type="radio" class="form-control" aria-label="Sizing example input"
                       aria-describedby="inputGroup-sizing-sm" value="O"/>
            </div>
            <input type="submit" formaction="http://127.0.0.1:5000/modify" formmethod="POST" value="Guardar"/>
            </form>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>