<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Jerry</title>
</head>
<body>
<div class="topnav">
    <p>Jerry</p>
    <a href="{{ url_for('get_my_cards') }}">Mis tarjetas</a>
    <a href="{{ url_for('get_preferences') }}">Mis preferencias</a>
    <a href="#">Mis sugerencias</a>
    <a href="{{ url_for('signout') }}">Cerrar sesión</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">

        </div>
        <div class="col-sm">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Categoría</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Plazo</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for i in get_preferences %}
                <tr>
                    <td>{{ i["category"] }}</td>
                    <td>{{ i["amount"] }}</td>
                    <td>{{ i["term"]}}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm">Editar</button>
                        <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-sm">
            <a href="{{ url_for('get_preferences') }}" class="btn btn-primary btn-sm" role="button"
               aria-pressed="true" data-toggle="modal" data-target="#exampleModal">Añadir
                preferencia</a>
        </div>


        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Añadir nueva preferencia</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action="http://127.0.0.1:5000/preferences" method="POST">
                            <div style="text-align: center;">
                                <input name="category" type="text" placeholder="Categoría"/>
                                <br/>
                                <input name="amount" type="text" placeholder="Cantidad de dinero"/>
                                <br/>
                                <input name="term" type="text" placeholder="Plazo"/>
                                <br/>
                                <br/>
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    Desarrollado por: Apple Eaters, 2018
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>