<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
	<title>Jerry</title>
</head>
<body>

<div class="topnav">
  <p>Jerry</p>
  <a href="#">Añadir Tarjeta</a>
  <a href="#">Cambiar tarjeta</a>
  <a action="http://127.0.0.1:5000/signout" method="get">Log out</a>
</div>

<section>
  <nav>
    <ul>
      <p>Mayores Gastos</p>
      <li><a href="#">London</a></li>
      <li><a href="#">Paris</a></li>
      <li><a href="#">Tokyo</a></li>
      <li><a href="#">London</a></li>
      <li><a href="#">Paris</a></li>
      <li><a href="#">Tokyo</a></li>
    </ul>
  </nav>

  <article>
    <h1>Mapa</h1>
  </article>
</section>

<footer>
	jerry todos los derechos reservados
</footer>

</body>
</html>