<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
	<title>Jerry</title>
</head>
<body>

<div class="topnav">
  <p>Jerry</p>
  <a href="{{ url_for('ac') }}">Añadir Tarjeta</a>
  <a href="{{ url_for('ac') }}">Cambiar tarjeta</a>
  <a href="{{ url_for('signout') }}">Log out</a>
</div>

<section>
  <nav>
    <ul>
      <p>Mayores Gastos</p>
      <li><a href="#">London</a></li>
      <li><a href="#">Paris</a></li>
      <li><a href="#">Tokyo</a></li>
      <li><a href="#">London</a></li>
      <li><a href="#">Paris</a></li>
      <li><a href="#">Tokyo</a></li>
    </ul>
  </nav>

  <article>
    <h1>Mapa</h1>
    <div class="a" id="googleMap"></div>
  </article>
</section>

<footer>
	Marico el que lo lea
</footer>
<script>
function myMap() {
var mapProp= {
  center:new google.maps.LatLng(51.508742,-0.120850),
  zoom:5,
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQzUEp0rllfkQAxXOqJji_QL8DC6If48s&callback=myMap"></script>
</body>
</html>