<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
	<title>Login</title>
</head>
<body>

<h1 style="color:red;">Jerry</h1>
<form class="container">
	<img src="{{ url_for('static', filename='pagando.jpg') }}" alt="Cinque Terre" width="1000" height="400">
	<div class="top">
	<p style="color: white">Log In</p>
	<input name="username" type="text" placeholder="Usuario" id="fname"/>
	<br/>
	<input name="password" type="password" placeholder="Contraseña" id="lname"/>
	<br/>
    <input type="submit" formaction="http://127.0.0.1:5000/login" formmethod="POST" value="Submit"/>
	<input type="submit" formaction="http://127.0.0.1:5000/paginasignup" formmethod="POST" value="Sign up">
	</div>
</form>
<footer>
	Marico el que lo lea
</footer>

</body>
</html>